<form>
  <div class="col-md-6">
    <div class="mb-3">

      <div class="form-group pt-4">
        <label class="form-label">Numero 1:</label>
        <input type="number" id="num1" class="form-control" [(ngModel)]="num1" name="num1">
      </div>

      <div class="form-group pt-4">
        <label class="form-label">Numero 2:</label>
        <input type="number" id="num2" class="form-control" [(ngModel)]="num2" name="num2">
      </div>

      <div class="form-group pt-4">
        <label class="form-label">Operacion:</label><br>
        <input type="radio" [(ngModel)]="operacion" name="operacion" value="suma"> Suma<br>
        <input type="radio" [(ngModel)]="operacion" name="operacion" value="resta"> Resta<br>
        <input type="radio" [(ngModel)]="operacion" name="operacion" value="multiplicacion"> Multiplicacion<br>
        <input type="radio" [(ngModel)]="operacion" name="operacion" value="division"> Division
      </div>

      <hr>
      <button (click)="calcular()" type="submit" class="btn btn-primary">Calcular</button>
    </div>

    <div class="col-md-6">
      <h1>Tu resultado es: {{resultado}}</h1>
    </div>
  </div>
</form>
